.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content {
        letter-spacing: .2px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        &__mechanic {
            color: gray;
            font-style: italic;
        }
        &__truck {
            letter-spacing: normal;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        * {
            margin: 0 5px;
        }
    }
}